# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
EgemenLisansYonetimiBackend/EgemenLisansYonetimiBackend.Api/bin
EgemenLisansYonetimiBackend/EgemenLisansYonetimiBackend.Api/obj
EgemenLisansYonetimiBackend/EgemenLisansYonetimiBackend.Api/Logs
EgemenLisansYonetimiBackend/EgemenLisansYonetimiBackend.Api/.vs
EgemenLisansYonetimiBackend/EgemenLisansYonetimiBackend.Worker/bin
EgemenLisansYonetimiBackend/EgemenLisansYonetimiBackend.Worker/obj
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
